# Gunicorn systemd service
# /etc/systemd/system/tartil.service

[Unit]
Description=Quran Courses Gunicorn Daemon
After=network.target

[Service]
User=hamzoooz123
Group=www-data
WorkingDirectory=/home/hamzoooz123/qurancourses/tartil
ExecStart=/home/hamzoooz123/qurancourses/tartil/venv/bin/gunicorn \
    --workers 3 \
    --bind 127.0.0.1:8005 \
    --access-logfile /var/log/gunicorn/tartil_access.log \
    --error-logfile /var/log/gunicorn/tartil_error.log \
    tartil.wsgi:application

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
